<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>About Big Star Collectibles | Big Star Collectibles</title>

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
	<link rel="manifest" href="images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- stylesheets -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&family=Roboto:wght@700&display=swap">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/common.css?ver=2209301853">
	<link rel="stylesheet" href="css/about.css?ver=2209161253">
</head>
<body>

	<header id="banner">
		<a href="./"><img src="images/logomark-big-star-white.svg" width="43" height="50" alt="Big Star Collectibles"></a>
		<nav aria-label="Site">
			<ul>
				<li><a href="./">Home</a></li>
				<li>
					<a href="Product-List.html">Products</a>
				</li>
				<li>
					<a href="about.html" aria-current="true">About</a>
				</li>
				<li><a href="Contact-Us.html">Contact</a></li>
			</ul>
			<button type="button"><img src="images/icon-menu.svg" width="30" height="24" alt="Site Navigation Panel"></button>
		</nav>
		<div id="search-widget">
			<button type="button" aria-expanded="false" aria-controls="search-popup"><img src="images/icon-search-white.svg" width="36" height="36" alt="Search Form"></button>
			<div id="search-popup" aria-hidden="true">
				<form method="post" role="search">
					<input type="search" aria-label="Enter product name" placeholder="Search&hellip;" tabindex="-1" required>
					<button type="submit" tabindex="-1">Search</button>
				</form>
				<button type="button" tabindex="-1"><img src="images/icon-xmark.svg" width="26" height="26" alt="Close"></button>
			</div>
		</div><!-- / #search-widget -->
		<a href="#"><img src="images/icon-user-v01-white.svg" width="36" height="36" alt="Account"></a>
		<button type="button">
			<img src="images/icon-shopping-cart-v01-white.svg" width="36" height="33" alt="Cart Panel">
			<span class="visually-hidden">(</span><span class="num">6</span> <span class="visually-hidden">items)</span>
		</button>
	</header>

	<main id="main">

		<div id="wrapper-about">

			<section id="about">
				<img src="images/logo-big-star-H-purple.svg" width="298" alt="Logo of Big Star Collectibles">
				<h1>About Big Star Collectibles</h1>
				<section>
					<h2>Brand mission</h2>
					<p>Support and revolutionize the joy and accomplishment of collecting high-quality, exclusive, and unique items.</p>
				</section>
				<section>
					<h2>Brand vision</h2>
					<p>To lead the industry in unique collectibles and to encourage the growth of the collectible market.</p>
				</section>
				<section>
					<h2>Brand values</h2>
					<ul>
						<li>Build our company in the best way possible.</li>
						<li>Imagine and innovate to avoid inertia.</li>
						<li>Give customers the respect they deserve.</li>
						<li>Serve to make us all better by being socially responsible.</li>
						<li>Take pride in your team’s talents.</li>
						<li>Always act with integrity.</li>
						<li>Remember to have fun.</li>
					</ul>
				</section>
				<h1>What we do</h1>
				<p>We go to the far reaches of the galaxy to bring top quality, authentic, and rare collectibles right to your door.</p>
				<section>
					<h2>Design and sell</h2>
					<p>The most apparent of our activities is designing and selling collectibles that reflect what our customers enjoy and want. Our team of product designers analyze and speculate new collectibles based on customer and market feedback. And we love surprising you.</p>
				</section>
				<section>
					<h2>Search and broker</h2>
					<p>For a fee, our experts can assist you in finding a particular Big Star Collectibles item that you have been looking for. Big Star Collectibles can also broker sales and trades among our customers.</p>
				</section>
				<section>
					<h2>Educate</h2>
					<p>Besides being able to assess a piece or collection for its authenticity, we also take great care in educating our customers and potential customers on the nuances of fake or altered collectibles.</p>
				</section>
				<section>
					<h2>Consult</h2>
					<p>We welcome your inquiries about products and collectibles from other sources. Our experts can give you an idea of an item’s sale and retail price points, as well as calculate the cash basis for insurance against theft or damage. These consults are done one-on-one with you to retain your privacy, either in our studio or via 3D-video chat. Contact us today to set up an appointment.</p>
				</section>
        <section>
          <h2 id="our-story">Our Story</h2>
          <p>This is our story. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl eu justo tempus bibendum. Sed interdum leo ut tincidunt cursus. Cras facilisis scelerisque diam et consequat. Morbi dapibus accumsan nunc, quis interdum dui dapibus fermentum. Pellentesque tempus arcu elit, in tincidunt sem dictum eu. Donec consequat metus quis felis commodo mollis. Nulla enim ipsum, lacinia quis sollicitudin nec, luctus sed nisl. Pellentesque euismod erat nisi, ac ultricies metus faucibus ut. Integer ac odio posuere, aliquet libero ut, suscipit purus. Ut sed consectetur metus. Ut tristique eget augue eu fermentum. In elementum nibh sit amet lorem maximus rutrum.</p>
        </section>
        <section>
          <h2 id="our-team">Our Team</h2>
          <p>This is our team. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Curabitur nec nisl eu justo tempus bibendum.</p>
          <p>Quisque suscipit fringilla diam a convallis.</p>
        </section>
        <section>
          <h2 id="faq">FAQs</h2>
          <ul>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
          <p>Curabitur nec nisl eu justo tempus bibendum.</p></li>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
          <p>Curabitur nec nisl eu justo tempus bibendum.</p></li>
          </ul>
        </section>
        <section>
          <h2 id="return-policy">Return policy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl eu justo tempus bibendum. Sed interdum leo ut tincidunt cursus. Cras facilisis scelerisque diam et consequat. Morbi dapibus accumsan nunc, quis interdum dui dapibus fermentum. Pellentesque tempus arcu elit, in tincidunt sem dictum eu. Donec consequat metus quis felis commodo mollis. Nulla enim ipsum, lacinia quis sollicitudin nec, luctus sed nisl. Pellentesque euismod erat nisi, ac ultricies metus faucibus ut. Integer ac odio posuere, aliquet libero ut, suscipit purus. Ut sed consectetur metus. Ut tristique eget augue eu fermentum. In elementum nibh sit amet lorem maximus rutrum.</p>
        </section>
        <section>
          <h2 id="press-center">Press Center</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl eu justo tempus bibendum. Sed interdum leo ut tincidunt cursus. Cras facilisis scelerisque diam et consequat. Morbi dapibus accumsan nunc, quis interdum dui dapibus fermentum. Pellentesque tempus arcu elit, in tincidunt sem dictum eu. Donec consequat metus quis felis commodo mollis. Nulla enim ipsum, lacinia quis sollicitudin nec, luctus sed nisl. Pellentesque euismod erat nisi, ac ultricies metus faucibus ut. Integer ac odio posuere, aliquet libero ut, suscipit purus. Ut sed consectetur metus. Ut tristique eget augue eu fermentum. In elementum nibh sit amet lorem maximus rutrum.</p>
        </section>
        <section>
          <h2 id="privacy-policy">Privacy Policy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl eu justo tempus bibendum. Sed interdum leo ut tincidunt cursus. Cras facilisis scelerisque diam et consequat. Morbi dapibus accumsan nunc, quis interdum dui dapibus fermentum. Pellentesque tempus arcu elit, in tincidunt sem dictum eu. Donec consequat metus quis felis commodo mollis. Nulla enim ipsum, lacinia quis sollicitudin nec, luctus sed nisl. Pellentesque euismod erat nisi, ac ultricies metus faucibus ut. Integer ac odio posuere, aliquet libero ut, suscipit purus. Ut sed consectetur metus. Ut tristique eget augue eu fermentum. In elementum nibh sit amet lorem maximus rutrum.</p>
        </section>
        <section>
          <h2 id="blog">Blog</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl eu justo tempus bibendum. Sed interdum leo ut tincidunt cursus. Cras facilisis scelerisque diam et consequat. Morbi dapibus accumsan nunc, quis interdum dui dapibus fermentum. Pellentesque tempus arcu elit, in tincidunt sem dictum eu. Donec consequat metus quis felis commodo mollis. Nulla enim ipsum, lacinia quis sollicitudin nec, luctus sed nisl. Pellentesque euismod erat nisi, ac ultricies metus faucibus ut. Integer ac odio posuere, aliquet libero ut, suscipit purus. Ut sed consectetur metus. Ut tristique eget augue eu fermentum. In elementum nibh sit amet lorem maximus rutrum.</p>
        </section>
      </section><!-- / #about -->

			<nav aria-label="Category">
				<ul>
					<li><a href="about.html" aria-current="page">About Big Star Collectibles</a></li>
					<li><a href="about.html#our-story">Our story</a></li>
					<li><a href="about.html#our-team">Our team</a></li>
					<li><a href="about.html#faq">FAQ</a></li>
				</ul>
			</nav>

		</div><!-- / #wrapper-about -->

	</main>

	<footer id="continfo">
		<nav aria-label="Supplementary">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="Product-List.html">Products</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="Contact-Us.html">Contact</a></li>
			</ul>
		</nav>
		<figure>
			<figcaption>Follow us</figcaption>
			<ul>
				<li><a href="#" target="_blank"><img src="images/icon-instagram-white.svg" width="30" height="30" alt="Instagram"></a></li>
				<li><a href="#" target="_blank"><img src="images/icon-facebook-white.svg" width="30" height="30" alt="Facebook"></a></li>
				<li><a href="#" target="_blank"><img src="images/icon-twitter-white.svg" width="30" height="30" alt="Twitter"></a></li>
				<li><a href="#" target="_blank"><img src="images/icon-youtube-white.svg" width="30" height="30" alt="YouTube"></a></li>
			</ul>
		</figure>
		<img src="images/logo-big-star-H.svg" width="120" height="65" alt="Logo of Big Star Collectibles">
		<p><small>&copy; Big Star Collectibles, Inc. &nbsp;|&nbsp; <a href="#">Privacy</a> &nbsp;|&nbsp; <a href="#">Terms</a></small></p>
		<p><small>This is a fictitious company created by LinkedIn Corporation, or its affiliates, solely for the creation and development of educational training materials. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</small></p>
	</footer>

	<script src="js/plugins.js?ver=2209212222"></script>
	<script src="js/main.js?ver=2209301853"></script>

</body>
</html>
