<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" id="banner">
  <a href="./"><img src="/images/logomark-big-star-white.svg" width="43" height="50" alt="Big Star Collectibles"></a>
  <nav aria-label="Site">
    <ul>
      <li><a href="./" aria-current="page">Home</a></li>
      <li>
        <a href="Product-List.html">Products</a>
      </li>
      <li>
        <a href="Static-About.html">About</a>
      </li>
      <li><a href="Contact-Us.html">Contact</a></li>
    </ul>
    <button type="button"><img src="/images/icon-menu.svg" width="30" height="24" alt="Site Navigation Panel"></button>
  </nav>
  <div id="search-widget">
    <button type="button" aria-expanded="false" aria-controls="search-popup"><img src="/images/icon-search-white.svg" width="36" height="36" alt="Search Form"></button>
    <div id="search-popup" aria-hidden="true">
      <form th:method="post" th:action="@{/search}" role="search">
        <input th:name="searchString" type="search" aria-label="Enter product name" placeholder="Search&hellip;" tabindex="-1" required>
        <button type="submit" tabindex="-1">Search</button>
      </form>
      <button type="button" tabindex="-1"><img src="/images/icon-xmark.svg" width="26" height="26" alt="Close"></button>
    </div>
  </div><!-- / #search-widget -->
  <a href="#"><img src="/images/icon-user-v01-white.svg" width="36" height="36" alt="Account"></a>
  <button type="button">
    <img src="/images/icon-shopping-cart-v01-white.svg" width="36" height="33" alt="Cart Panel">
    <span class="visually-hidden">(</span><span class="num">6</span> <span class="visually-hidden">items)</span>
  </button>
</header>

<footer th:fragment="footer" id="continfo">
  <nav aria-label="Supplementary">
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="Product-List.html">Products</a></li>
      <li><a href="Static-About.html">About</a></li>
      <li><a href="Contact-Us.html">Contact</a></li>
    </ul>
  </nav>
  <figure>
    <figcaption>Follow us</figcaption>
    <ul>
      <li><a href="#" target="_blank"><img src="/images/icon-instagram-white.svg" width="30" height="30" alt="Instagram"></a></li>
      <li><a href="#" target="_blank"><img src="/images/icon-facebook-white.svg" width="30" height="30" alt="Facebook"></a></li>
      <li><a href="#" target="_blank"><img src="/images/icon-twitter-white.svg" width="30" height="30" alt="Twitter"></a></li>
      <li><a href="#" target="_blank"><img src="/images/icon-youtube-white.svg" width="30" height="30" alt="YouTube"></a></li>
    </ul>
  </figure>
  <img src="/images/logo-big-star-H.svg" width="120" height="65" alt="Logo of Big Star Collectibles">
  <p><small>&copy; Big Star Collectibles, Inc. &nbsp;|&nbsp; <a href="#">Privacy</a> &nbsp;|&nbsp; <a href="#">Terms</a></small></p>
  <p><small>This is a fictitious company created by LinkedIn Corporation, or its affiliates, solely for the creation and development of educational training materials. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</small></p>
</footer>
</body>
</html>