<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>Rivet | Big Star Collectibles</title>

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- stylesheets -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&family=Roboto:wght@700&display=swap">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/common.css?ver=2209301853">
	<link rel="stylesheet" href="/css/character.css?ver=2209100051">
</head>
<body>

	<header id="banner">
		<a href=".."><img src="/images/logomark-big-star-white.svg" width="43" height="50" alt="Big Star Collectibles"></a>
		<nav aria-label="Site">
			<ul>
				<li><a href="..">Home</a></li>
				<li>
					<a href="../Product-List.html" aria-current="true">Products</a>
				</li>
				<li>
					<a href="../Static-About.html">About</a>
				</li>
				<li><a href="../Contact-Us.html">Contact</a></li>
			</ul>
			<button type="button"><img src="/images/icon-menu.svg" width="30" height="24" alt="Site Navigation Panel"></button>
		</nav>
		<div id="search-widget">
			<button type="button" aria-expanded="false" aria-controls="search-popup"><img src="/images/icon-search-white.svg" width="36" height="36" alt="Search Form"></button>
			<div id="search-popup" aria-hidden="true">
				<form method="post" role="search">
					<input type="search" aria-label="Enter product name" placeholder="Search&hellip;" tabindex="-1" required>
					<button type="submit" tabindex="-1">Search</button>
				</form>
				<button type="button" tabindex="-1"><img src="/images/icon-xmark.svg" width="26" height="26" alt="Close"></button>
			</div>
		</div><!-- / #search-widget -->
		<a href="#"><img src="/images/icon-user-v01-white.svg" width="36" height="36" alt="Account"></a>
		<button type="button">
			<img src="/images/icon-shopping-cart-v01-white.svg" width="36" height="33" alt="Cart Panel">
			<span class="visually-hidden">(</span><span class="num">6</span> <span class="visually-hidden">items)</span>
		</button>
	</header>

	<main id="main">

		<section id="character">
			<div class="wrapper">
				<img src="/images/characters/Binaryville-Rivet.svg" alt="Full image of Rivet">
				<blockquote>
					<p>No Assembly Required</p>
				</blockquote>
			</div>
			<header>
				<img src="/images/logo-Binaryville.svg" width="180" height="94" alt="Binaryville">
				<hgroup>
					<h1>Rivet</h1>
					<p>Professional Traveler</p>
				</hgroup>
			</header>
			<p>Rivet descended from an assembly line of amphibious robots, but never quite took to deep water - though he does love rolling around in mucky marshes and soaking up the mud on vacation. With his advanced temperature sensors and all-weather construction, he's often dispatched to remote regions all around the world to help with disaster relief work.</p>
			<dl>
				<div>
					<dt>Neighborhood of origin</dt>
					<dd>North West Binaryville</dd>
				</div>
				<div>
					<dt>Favorite food</dt>
					<dd>Grilled Cheddar Cheese</dd>
				</div>
				<div>
					<dt>Favorite music genre</dt>
					<dd>Techno</dd>
				</div>
				<div>
					<dt>Hobby</dt>
					<dd>Mudding</dd>
				</div>
				<div>
					<dt>Favorite film</dt>
					<dd>Robots (2005)</dd>
				</div>
				<div>
					<dt>Means of ambulation</dt>
					<dd>rolling</dd>
				</div>
				<div>
					<dt>Favorite footwear</dt>
					<dd>n/a</dd>
				</div>
				<div>
					<dt>Dream job</dt>
					<dd>Professional Traveler</dd>
				</div>
				<div>
					<dt>Singing voice</dt>
					<dd>soprano</dd>
				</div>
			</dl>
		</section><!-- / #character -->
	</main>

	<footer id="continfo">
		<nav aria-label="Supplementary">
			<ul>
				<li><a href="..">Home</a></li>
				<li><a href="../Product-List.html">Products</a></li>
				<li><a href="../Static-About.html">About</a></li>
				<li><a href="../Contact-Us.html">Contact</a></li>
			</ul>
		</nav>
		<figure>
			<figcaption>Follow us</figcaption>
			<ul>
				<li><a href="#" target="_blank"><img src="/images/icon-instagram-white.svg" width="30" height="30" alt="Instagram"></a></li>
				<li><a href="#" target="_blank"><img src="/images/icon-facebook-white.svg" width="30" height="30" alt="Facebook"></a></li>
				<li><a href="#" target="_blank"><img src="/images/icon-twitter-white.svg" width="30" height="30" alt="Twitter"></a></li>
				<li><a href="#" target="_blank"><img src="/images/icon-youtube-white.svg" width="30" height="30" alt="YouTube"></a></li>
			</ul>
		</figure>
		<img src="/images/logo-big-star-H.svg" width="120" height="65" alt="Logo of Big Star Collectibles">
		<p><small>&copy; Big Star Collectibles, Inc. &nbsp;|&nbsp; <a href="#">Privacy</a> &nbsp;|&nbsp; <a href="#">Terms</a></small></p>
		<p><small>This is a fictitious company created by LinkedIn Corporation, or its affiliates, solely for the creation and development of educational training materials. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</small></p>
	</footer>

	<script src="../js/plugins.js?ver=2209212222"></script>
	<script src="../js/main.js?ver=2209301853"></script>

</body>
</html>
