<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>Delores | Big Star Collectibles</title>

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="  /images/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="  /images/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="  /images/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="  /images/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="  /images/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="  /images/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="  /images/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="  /images/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="  /images/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="  /images/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="  /images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="  /images/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="  /images/favicons/favicon-16x16.png">
	<link rel="manifest" href="  /images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- stylesheets -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&family=Roboto:wght@700&display=swap">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/common.css?ver=2209301853">
	<link rel="stylesheet" href="/css/character.css?ver=2209100051">
</head>
<body>

	<div id="skip">
		<a href="#main">Skip to main content</a>
	</div>

	<div th:replace="~{fragments.html :: header}"/>

	<main id="main">

		<section id="character">
			<div class="wrapper">
				<img src="  /images/characters/Binaryville-Delores.svg" alt="Full image of Delores">
				<blockquote>
					<p>I compute, therefore I am.</p>
				</blockquote>
			</div>
			<header>
				<img src="  /images/logo-Binaryville.svg" width="180" height="94" alt="Binaryville">
				<hgroup>
					<h1>Delores</h1>
					<p>Forensic Accountant</p>
				</hgroup>
			</header>
			<p>Dolores robot is a computational genius who performs calculations for various Binaryville businesses and organizations. In her spare time, Dolores has been noodling on the creation of the perfect web browser that will make all other browsers obsolete. We're rooting for you, Dolores!</p>
			<dl>
				<div>
					<dt>Neighborhood of origin</dt>
					<dd>West Binaryville</dd>
				</div>
				<div>
					<dt>Favorite food</dt>
					<dd>toasted marshmallows</dd>
				</div>
				<div>
					<dt>Favorite music genre</dt>
					<dd>J-pop</dd>
				</div>
				<div>
					<dt>Hobby</dt>
					<dd>Creating a new web browser</dd>
				</div>
				<div>
					<dt>Favorite film</dt>
					<dd>Ex Machina (2015)</dd>
				</div>
				<div>
					<dt>Means of ambulation</dt>
					<dd>walking</dd>
				</div>
				<div>
					<dt>Favorite footwear</dt>
					<dd>none</dd>
				</div>
				<div>
					<dt>Dream job</dt>
					<dd>landscape painter</dd>
				</div>
				<div>
					<dt>Singing voice</dt>
					<dd>bass</dd>
				</div>
			</dl>
		</section><!-- / #character -->
	</main>

	<div th:replace="~{fragments.html :: footer}"/>

	<script src="../js/plugins.js?ver=2209212222"></script>
	<script src="../js/main.js?ver=2209301853"></script>

</body>
</html>
